
{% extends "layout.twig" %}

{% block title %}문미터 - 공약제크 프로젝트 1{% endblock %}

{% block content %}

<div id="frontCarousel">
	<div class="container">
		<img src="/assets/carousel-main.png" class="img-fluid" alt="first">
	</div>
</div>

<section id="promises">
	<div class="container">
		<div class="row py-5">
			<div class="col-md-8">
				<h2>인기공약</h2>
				<div class="row">
					<div class="nav flex-column nav-pills col-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<a class="nav-link active" id="v-pills-first-tab" data-toggle="pill" href="#v-pills-first" role="tab" aria-controls="v-pills-first" aria-selected="false">진행 중</a>
						<a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">4대 비전</a>
						<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">12대 공약</a>
						<a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">공약 분류</a>
					</div>
					<div class="tab-content col-9" id="v-pills-tabContent">
						<div class="tab-pane fade show active" id="v-pills-first" role="tabpanel" aria-labelledby="v-pills-first-tab">
							<ul class="list-unstyled">
							{% for activePromise in activePromises %}
								<li>{{ activePromise.sp_title }} <span class="badge badge-info">{{ status[activePromise.promise_level] }}</span></li>
							{% endfor %}
							</ul>
						</div>
						<div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
							<ul class="list-unstyled">
							{% for vision in visions %}
								<li>{{ vision.pv_title }} ({{ vision.pv_no }})</li>
							{% endfor %}
							</ul>
						</div>
						<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
							<ul class="list-unstyled">
							{% for promise in promises %}
								<li>{{ promise.pp_title }} ({{ promise.pv_no }} - {{ promise.pp_no }})</li>
							{% endfor %}
						</div>
						<div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
							<ul class="list-unstyled">
							{% for category in categories %}
								<li>{{ category.ppk_title }} ({{ category.pp_no }} - {{ category.ppk_no }})</li>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<h2>공약 진행 상황</h2>
				<p>공약이 진행된다!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus odio velit quos, saepe ipsa rem voluptatum alias magnam ullam voluptas praesentium temporibus dignissimos ratione placeat ea magni nulla, laboriosam dicta.</p>
			</div>
		</div>

	</div>
</section>

<section id="at-a-glance" class="bg-dark pt-5 pb-3">
	<div class="container">
		<h2 class="text-white">공약 한눈에 보기</h2>
		<div class="row mt-5 d-flex justify-content-center">
			<div class="col-md-3">
				<div class="card mb-4 box-shadow">
					<img class="card-img-top" src="/assets/pledge-by-category.png" />
					<div class="card-body">
						<h4 class="card-title">분류별 공약</h4>
						<p class="card-text">나라를 다스리는 일. 국가의 권력을 획득하고
유지하며 행사하는 활동으로, 국민들이 인간다운 삶을 영위하게 하고 상호 간의 이해를 조정하며, 사회 질서를 바로잡는 따위의 역할을 한다.</p>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="card mb-4 box-shadow">
					<img class="card-img-top" src="/assets/pledge-by-theme.png" />
					<div class="card-body">
						<h4 class="card-title">테마별 공약</h4>
						<p class="card-text">나라를 다스리는 일. 국가의 권력을 획득하고
유지하며 행사하는 활동으로, 국민들이 인간다운 삶을 영위하게 하고 상호 간의 이해를 조정하며, 사회 질서를 바로잡는 따위의 역할을 한다.</p>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="card mb-4 box-shadow">
					<img class="card-img-top" src="/assets/pledge-by-people.png" />
					<div class="card-body">
						<h4 class="card-title">수혜 계층별 공약</h4>
						<p class="card-text">나라를 다스리는 일. 국가의 권력을 획득하고
유지하며 행사하는 활동으로, 국민들이 인간다운 삶을 영위하게 하고 상호 간의 이해를 조정하며, 사회 질서를 바로잡는 따위의 역할을 한다.</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<section id="keep-in-touch" class="bg-light pt-5 pb-3">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="banner clearfix">
					<img src="/assets/banner-about.png" class="img-fluid position-absolute" style="z-index: 0;" alt="">
					<div class="message position-relative p-5 mb-1" style="z-index: 10;">
						<h3 class="text-primary">문재인정부 공약 팩트 체크,<br>
							문미터는?</h3>
						<p class="text-white">나라를 다스리는 일. 국가의 권력을 획득하고 유지하며 행사하는 활동으로,  국민들이 인간다운 삶을 영위하게 하고 상호 간의 이해를 조정하며,  사회 질서를 바로잡는 따위의 역할을 한다.</p>
						<ul class="list-inline">
							<li class="list-inline-item">
								<a class="btn btn-ghost" href="/about">문미터 소개 더보기</a>
							</li>
							<li class="list-inline-item">
								<a class="btn btn-ghost" href="/getting-involved">문미터에 참여해보세요</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="notices bg-white p-3">
					<h4>공지사항</h4>
					<ul class="list-unstyled">
						<li><a href="/">[공지] 문미터 페이스북 공유 1만명 돌파!</a></li>
						<li><a href="/">[공지] 문미터 기사를 청와대가 공유했답니다 ~ :)</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock %}