
{% extends "layout.twig" %}

{% block title %}문미터 - 공약제크 프로젝트 1{% endblock %}

{% block content %}

<div id="front-carousel">
	<div class="container d-none d-md-block">
		<div class="row d-flex align-items-center flex-column" style="background: url('/assets/carousel-main.png') no-repeat; height: 420px;">
			<div style="margin-top: 5rem;">
				<p class="text-center lead text-primary" style="font-size: 2.5rem;"><strong style="font-size: 3rem; font-weight: bold;">문재인 정부의 공약</strong>을 검색해보세요!</p>
				<form class="form-inline mt-2 mt-md-0" action="/search" method="get" onchange="$(this).submit()">
				    <div class="input-group col-6 mx-auto">
				      <input class="form-control p-3" type="text" placeholder="검색" name="keyword" aria-label="Search" value="{{ keyword }}">
				      <div class="input-group-addon" style="margin: .8rem 0 0 -3rem; z-index: 10;"><i class="fa fa-2x fa-search text-muted"></i></div>
				    </div>
				</form>
			</div>
		</div>
	</div>
	
</div>

<section id="promises">
	<div class="container">
		<div class="row py-5">
			<div class="col-md-8">
				<div class="row">
					<div class="nav flex-column nav-pills col-md-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<a class="nav-link active" id="v-pills-first-tab" data-toggle="pill" href="#v-pills-first" role="tab" aria-controls="v-pills-first" aria-selected="false">쟁점 공약</a>
						<a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">인기 공약</a>
					</div>
					<div class="tab-content col-md-9" id="v-pills-tabContent">
						<div class="tab-pane fade show active" id="v-pills-first" role="tabpanel" aria-labelledby="v-pills-first-tab">
							<ul class="list-unstyled">
						{% if hot_promises | length > 0 %}
							{% for hot_promise in hot_promises %}
								<li>
									<div class="row bb-1 py-2">
										<div class="col-md-1">
											{{ loop.index }}
										</div>
										<div class="col-md-10">
											<a href="/promise/{{ hot_promise.sp_no }}">{{ hot_promise.sp_title }}</a> <span class="badge badge-info">{{ status[hot_promise.promise_level] }}</span>
											<ul class="list-inline text-muted">
												<li class="list-inline-item"><small>조회수 {{ hot_promise.view_count }}</small>
												</li>
												<li class="list-inline-item"><small>댓글 {{ hot_promise.count }}</small></li>
											</ul>
										</div>
										{# <div class="col-md-2">
											<i class="fa fa-arrow-up"></i>&nbsp;{{ loop.index }}
										</div> #}
									</div>
								</li>
							{% endfor %}
						{% else %}
								<li>
									<div class="row bb-1 py-2 text-center">
										<p class="lead w-100">쟁점 공약이 없습니다.</p>
									</div>
								</li>
							</ul>
						{% endif %}
							</ul>
						</div>
						<div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
							<ul class="list-unstyled">
						{% if popular_promises | length > 0 %}
							{% for popular_promise in popular_promises %}
								<li>
									<div class="row bb-1 py-2">
										<div class="col-md-1">
											{{ loop.index }}
										</div>
										<div class="col-md-10">
											<a href="/promise/{{ popular_promise.sp_no }}">{{ popular_promise.sp_title }}</a> <span class="badge badge-info">{{ status[popular_promise.promise_level] }}</span>
											<ul class="list-inline text-muted">
												<li class="list-inline-item"><small>조회수 {{ popular_promise.view_count }}</small>
												</li>
												<li class="list-inline-item"><small>댓글 <span class="disqus-comment-count" data-disqus-url="http://moonmeter.kr/promise/{{ popular_promise.sp_no }}">0</span></small></li>
											</ul>
										</div>
										{# <div class="col-md-2">
											<i class="fa fa-arrow-up"></i>&nbsp;{{ loop.index }}
										</div> #}
									</div>
								</li>
							{% endfor %}
						{% else %}
								<li>
									<div class="row bb-1 py-2 text-center">
										<p class="lead w-100"> 인기 공약이 없습니다.</p>
									</div>
								</li>
							</ul>
						{% endif %}
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="block status">
					<div class="status-date float-right">{{ date }}</div>
					<h5 class="bb-1 pb-3">공약 진행 상황</h5>
					<ul class="list-unstyled">
	{% for group in groups %}
						<li>
							<div class="row py-2">
								<div class="col-md-3">{{ group.title }}</div>
								<div class="col-md-7 py-1">
									<div class="progress">
										<div class="progress-bar" role="progressbar" style="width: {{ group.percent }}%" aria-valuenow="{{ group.total }}" aria-valuemin="0" aria-valuemax="{{ total_promises_count }}"></div>
									</div>
								</div>
								<div class="col-md-1 text-right">{{ group.total }}</div>
							</div>
							
						</li>
	{% endfor %}
					</ul>
				</div>
			</div>
		</div>

	</div>
</section>

<section id="at-a-glance" class="bg-dark pt-5 pb-3">
	<div class="container">
		<h2 class="text-white">공약 한눈에 보기</h2>
		<div class="row mt-5 d-flex justify-content-center">
			<div class="col-lg-3">
				<div class="card mb-4 box-shadow">
					<img class="card-img-top" src="/assets/pledge-by-category.png" />
					<div class="card-body">
						<a href="/promises/t/category">
							<h4 class="card-title">분류별 공약</h4>
							<p class="card-text">나라를 다스리는 일. 국가의 권력을 획득하고
	유지하며 행사하는 활동으로, 국민들이 인간다운 삶을 영위하게 하고 상호 간의 이해를 조정하며, 사회 질서를 바로잡는 따위의 역할을 한다.</p>
						</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3">
				<div class="card mb-4 box-shadow">
					<img class="card-img-top" src="/assets/pledge-by-theme.png" />
					<div class="card-body">
						<a href="/promises/t/theme">
							<h4 class="card-title">테마별 공약</h4>
							<p class="card-text">나라를 다스리는 일. 국가의 권력을 획득하고
	유지하며 행사하는 활동으로, 국민들이 인간다운 삶을 영위하게 하고 상호 간의 이해를 조정하며, 사회 질서를 바로잡는 따위의 역할을 한다.</p>
						</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3">
				<div class="card mb-4 box-shadow">
					<img class="card-img-top" src="/assets/pledge-by-people.png" />
					<div class="card-body">
						<a href="/promises/t/hierarchy">
							<h4 class="card-title">수혜 계층별 공약</h4>
							<p class="card-text">나라를 다스리는 일. 국가의 권력을 획득하고
	유지하며 행사하는 활동으로, 국민들이 인간다운 삶을 영위하게 하고 상호 간의 이해를 조정하며, 사회 질서를 바로잡는 따위의 역할을 한다.</p>
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<section id="keep-in-touch" class="bg-light pt-5 pb-3">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="banner clearfix d-none d-sm-block">
					<div class="message position-relative p-5 mb-1">
						<h3 class="text-primary">문재인정부 공약 팩트 체크,<br>
							문미터는?</h3>
						<p class="text-white">나라를 다스리는 일. 국가의 권력을 획득하고 유지하며 행사하는 활동으로,  국민들이 인간다운 삶을 영위하게 하고 상호 간의 이해를 조정하며,  사회 질서를 바로잡는 따위의 역할을 한다.</p>
						<ul class="list-inline">
							<li class="list-inline-item">
								<a class="btn btn-ghost text-white" href="/about">문미터 소개 더보기</a>
							</li>
							<li class="list-inline-item">
								<a class="btn btn-ghost text-white" href="/getting-involved">문미터에 참여해보세요</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="banner d-block d-sm-none">
					<div class="message position-relative p-5 mb-1">
						<h3 class="text-primary">문재인정부 공약 팩트 체크,<br>
							문미터는?</h3>
						<p class="text-primary">나라를 다스리는 일. 국가의 권력을 획득하고 유지하며 행사하는 활동으로,  국민들이 인간다운 삶을 영위하게 하고 상호 간의 이해를 조정하며,  사회 질서를 바로잡는 따위의 역할을 한다.</p>
						<ul class="list-inline">
							<li class="list-inline-item mb-2">
								<a class="btn btn-primary" href="/about">문미터 소개 더보기</a>
							</li>
							<li class="list-inline-item mb-2">
								<a class="btn btn-primary" href="/getting-involved">문미터에 참여해보세요</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="notices bg-white p-3">
					<h5 class="bb-1 pb-2 mb-2">공지사항</h5>
					<ul class="list-unstyled">
					{% for notice in notices %}
						<li><a href="/notice/{{ notice.n_no }}">{{ notice.n_title }}</a></li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<script id="dsq-count-scr" src="//moonmeter.disqus.com/count.js" async></script>
{% endblock %}