{% extends "layout.twig" %}
{% block title %}문미터 - 공약제크 프로젝트 1{% endblock %}
{% block content %}

<div class="container promise detail">
	
	<div class="row">
		<div id="content" class="col-md-8">
			<div class="content-header">
				<h1 class="page-title">{{ promise.sp_title }}</h1>
				<p class="lead">
					{{ promise.sp_title }}
				</p>
				<dl class="row">
					<dt class="col-sm-2">4대 비전:</dt>
					<dd class="col-sm-10">{{ promise.pv_title }}</dd>
					<dt class="col-sm-2">12대 공약:</dt>
					<dd class="col-sm-10">{{ promise.pp_title }}</dd>
					<dt class="col-sm-2">주제:</dt>
					<dd class="col-sm-10">{{ promise.ppk_title }}</dd>
					<dt class="col-sm-2">메인 약속:</dt>
					<dd class="col-sm-10">{{ promise.mp_title }}</dd>
				</dl>
				<div class="row justify-content-between">
					<div class="col-4">
						<ul class="list-inline">
							<li class="list-inline-item">공유</li>
							<li class="list-inline-item">댓글</li>
						</ul>
					</div>
					<div class="col-4">
						<ul class="list-inline">
							<li class="list-inline-item">페북</li>
							<li class="list-inline-item">트위터</li>
							<li class="list-inline-item">네이버</li>
							<li class="list-inline-item">구글</li>
						</ul>
					</div>
				</div>
			</div>

			<section class="status my-5">
				<h3 class="my-4">공약 진행 단계</h3>
				<div class="row">
					<div class="col-md-2">
						<span class="text-success lead">{{ status[promise.promise_level] }}</span>
					</div>
					<div class="col-md-10">
{% set percentage = '0' %}
{% if promise.promise_level %}
{% set percentage = 6 // promise.promise_level * 10 %}
{% endif %}
						<div class="progress">
							<div class="progress-bar bg-success" role="progressbar" style="width: {{ percentage }}%" aria-valuenow="{{ promise.promise_level }}" aria-valuemin="1" aria-valuemax="6">{{ percentage }}%</div>
						</div>
						<ul class="list-inline">
{% for step in status %}
							<li class="list-inline-item text-muted {% if not loop.last %}mr-5{% endif %}">{{ step }}</li>
{% endfor %}
						</ul>
					</div>
				</div>
			</section>

{% if note.fcd_desc is not empty %}
			<section class="moonmeter my-5">
				<h3 class="my-4">문미터 의견</h3>
				<p>{{ note.fcd_desc | raw }}</p>	
			</section>
{% endif %}

{% if articles | length > 0 %}
			<section class="related-news my-5">
				<h3 class="my-4">근거 기사</h3>
				<ul class="list-unstyled">
{% for article in articles %}
					<li class="bb-1 py-2"><a href="{{ article.r_link}}" target="_blank">{{ article.r_title }}</a></li>
{% endfor %}
				</ul>
			</section>
{% endif %}

		</div>

		<div id="sidebar" class="col-md-3">
			{% include 'sidebar.twig' %}
		</div>
	</div>
</div>

{% endblock %}