{% extends "layout.twig" %}
{% block title %}문미터 - 공약제크 프로젝트 1{% endblock %}
{% block content %}

<div class="container promises">

	<div class="row">
		<div id="content" class="col-md-9">
			<div class="content-header">
				<h1 class="page-title">문재인 공약</h1>
				<h2 class="my-3">4대 비전</h2>
			</div>

			<div id="promises-overview" class="row">
		{% for vision_title, vision in full_promises %}
				<div class="col-md-6">
					<div class="vision mb-5">
						<a href="/promises/v/{{ loop.index }}">
							<span class="lead sequence">비전 {{ loop.index }}</span>
							<img src="/assets/candles-square.png" alt="">
						</a>
						<h3 id="v{{ loop.index }}" class="bb-1 py-3 mb-3 font-weight-bold"><a href="/promises/v/{{ loop.index }}">{{ vision_title }}</a></h3>
						<ul class="list-unstyled">
				{% set vision_id = loop.index %}
				{% for promise_12_title, promise in vision %}
							<li>{{ loop.index }}. {{ promise_12_title }}</li>
				{% endfor %}
						</ul>
					</div>
					
				</div>
		{% endfor %}
			</div>
		</div>

		<div id="sidebar" class="col-md-3">
			{% include 'sidebar.twig' %}
		</div>
	</div>

</div>

{% endblock %}