{% extends "layout.twig" %}
{% block title %}문미터 - 공약제크 프로젝트{% endblock %}
{% block content %}

<div class="container promises by-vision">

{% set first_letter = type | first %}

	<div class="row">
		<div id="content" class="col-md-9">
			<ul class="float-right list-inline my-4">
				<li class="list-inline-item"><a class="btn btn-{% if type == 'category' %}success{% else %}light{% endif %}" href="/promises/t/category">분류별 공약</a></li>
				<li class="list-inline-item"><a class="btn btn-{% if type == 'theme' %}success{% else %}light{% endif %}" href="/promises/t/theme">테마별 공약</a></li>
				<li class="list-inline-item"><a class="btn btn-{% if type == 'hierarchy' %}success{% else %}light{% endif %}" href="/promises/t/hierarchy">수혜 계층별 공약</a></li>
			</ul>
			<div class="content-header">
				<h1 class="page-title">{{ current_taxonomy_type }}별 공약</h1>
			</div>
			<div class="content-body">
			{% if promises | length > 0 %}
				{% for promise in promises %}
				<div class="sub-promise my-3 bb-1 pb-3">
					<h4><a href="/promise/{{ promise.sp_no }}">{{ promise.sp_title }}</a></h4>
					<section class="status mt-3 mb-1">
						<div class="row">
							<div class="col-md-2 text-center">
								<span class="text-success lead">{{ status[promise.promise_level] }}</span>
							</div>
							<div class="col-md-10">
								<div class="progress my-2">
{% set percentage = '0' %}
{% if promise.promise_level %}
{% set percentage = 6 // promise.promise_level * 10 %}
{% endif %}
									<div class="progress-bar bg-success" role="progressbar" style="width: {{ percentage }}%" aria-valuenow="{{ promise.promise_level }}" aria-valuemin="1" aria-valuemax="6">{{ percentage }}%</div>
								</div>
								<ul class="list-inline d-flex justify-content-between">
								{% for step in status %}
									<li class="list-inline-item text-muted"><small>{{ step }}</small></li>
								{% endfor %}
								</ul>
							</div>
						</div>
					</section>
					<ul class="list-inline">
						<li class="list-inline-item"><small>{{ promise.pv_title }}&nbsp;&nbsp; | </small></li>
						<li class="list-inline-item"><small>{{ promise.pp_title }}&nbsp;&nbsp; | </small></li>
						<li class="list-inline-item"><small>{{ promise.ppk_title }}</small></li>
					</ul>
				</div>
				{% endfor %}
			{% else %}
				<p>이 분류에 속한 약속이 없습니다.</p>
			{% endif %}
			</div>
		</div>

		<div id="sidebar" class="col-md-3">
			<ul class="list-unstyled mt-4 pl-4" style="line-height: 1.8;">
			{% for term in terms %}
				<li{% if attribute(term, first_letter ~ 'sp_no') == term_id %} class="active font-weight-bold"{% endif%}>
					<a href="/promises/t/{{ type }}/{{ attribute(term, first_letter ~ 'sp_no') }}">{{ attribute(term, first_letter ~ 'sp_title') }}</a>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>

</div>

{% endblock %}