{% extends "layout.twig" %}
{% block title %}문미터 - 공약제크 프로젝트 1{% endblock %}
{% block content %}

<div class="container promises by-vision">

{% set vision_title = promises | keys | first %}

	<div class="row">
		<div id="content" class="col-md-9">
			<div class="content-header">
				<h1 class="page-title">문재인 공약</h1>
				<span>비전 {{ vision_id }}</span>
				<h2 class="my-3">{{ vision_title }}</h2>
			</div>
	{% set subjects = promises[vision_title] %}
		{% for subject_title, categories in subjects %}
		{% set subject_seq = loop.index %}
			<h3 class="subject py-3" data-toggle="collapse" data-target="#subject-{{ subject_seq }}" aria-expanded="true" aria-controls="#subject-{{ subject_seq }}">
				{{ subject_seq }}. {{ subject_title }}
				<ul class="ml-5 subject-categories list-inline d-inline text-muted">
				{% for category in categories | keys %}
					<li class="list-inline-item">{{ category }}</li>
				{% endfor %}
				</ul>
			</h3>
			<div id="subject-{{ subject_seq }}" class="collapse{% if subject_seq == 1 %} show{% endif %}">
				{% for category_title, promises in categories %}
				{% set category_seq = loop.index %}
					<h4 class="category py-3" data-toggle="collapse" data-target="#subject-{{ subject_seq }}-category-{{ category_seq }}" aria-expanded="true" aria-controls="#subject-{{ subject_seq }}-category-{{ category_seq }}">{{ subject_seq }}.{{ category_seq }}. {{ category_title }}</h4>
					<div id="subject-{{ subject_seq }}-category-{{ category_seq }}" class="collapse{% if category_seq == 1 %} show{% endif %}">
						{% for promise, details in promises %}
							<p>{{ subject_seq }}.{{ category_seq }}.{{ loop.index}} &nbsp; {{ promise }}</p>
							<ul class="list-unstyled ml-5 mb-3">
							{% for detail in details %}
								<li><a href="/promise/{{ detail.sp_no }}">{{ detail.sp_title }}</a></li>
							{% endfor %}
							</ul>
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		{% endfor %}
		</div>

		<div id="sidebar" class="col-md-3">
			{% include 'sidebar.twig' %}
		</div>
	</div>

</div>

{% endblock %}