{% extends "layout.twig" %}
{% block title %}문미터 - 공약제크 프로젝트 1{% endblock %}
{% block content %}

<div class="container promise detail">
	
	<div class="row">
		<div id="content" class="col-md-8">
			<div class="content-header">
				<h1 class="pt-5 pb-2 w-75">{{ promise.sp_title }}</h1>
				<div class="row justify-content-between">
					<div class="col-4">
						<ul class="list-inline">
							<li class="list-inline-item btn btn-light px-3 border">
								댓글 <span class="ml-3 disqus-comment-count" data-disqus-url="http://moonmeter.kr/promise/{{ id }}">0</span>
							</li>
						</ul>
					</div>
					<div class="col-3 text-right">
						<ul class="list-inline">
							<li class="list-inline-item">
								<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ 'http://moonmeter.kr/promise/' ~ id | url_encode }}"><img src="/assets/btn/facebook.png" alt=""></a>
							</li>
							<li class="list-inline-item">
								<a target="_blank" href="https://plus.google.com/share?url={{ 'http://moonmeter.kr/promise/' ~ id | url_encode }}"><img src="/assets/btn/gplus.png" alt=""></a>
							</li>
							<li class="list-inline-item">
								<a target="_blank" href="http://share.naver.com/web/shareView.nhn?url={{ 'http://moonmeter.kr/promise/' ~ id | url_encode }}&amp;title={{ promise.sp_title | url_encode }}"><img src="/assets/btn/naver.png" alt=""></a>
							</li>
							<li class="list-inline-item">
								<a target="_blank" href="https://twitter.com/home?status={{ 'http://moonmeter.kr/promise/' ~ id | url_encode }}"><img src="/assets/btn/twitter.png" alt=""></a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<section class="status my-5">
				<h3 class="my-4">공약 진행 단계</h3>
				<div class="row">
					<div class="col-md-2 text-center">
						<span class="text-success lead">{{ status[promise.promise_level] }}</span>
					</div>
					<div class="col-md-10">
{% set percentage = '0' %}
{% if promise.promise_level %}
{% set percentage = 6 // promise.promise_level * 10 %}
{% endif %}
						<div class="progress my-2">
							<div class="progress-bar bg-success" role="progressbar" style="width: {{ percentage }}%" aria-valuenow="{{ promise.promise_level }}" aria-valuemin="1" aria-valuemax="6">{{ percentage }}%</div>
						</div>
						<ul class="list-inline d-flex justify-content-between">
{% for step in status %}
							<li class="list-inline-item text-muted"><small>{{ step }}</small></li>
{% endfor %}
						</ul>
					</div>
				</div>
			</section>

{% if note.fcd_desc is not empty %}
			<section class="moonmeter my-5">
				<h3 class="my-4">문미터 의견</h3>
				<p>{{ note.fcd_desc | raw }}</p>	
			</section>
{% endif %}

{% if articles | length > 0 %}
			<section class="related-news my-5">
				<h3 class="my-4">근거 기사</h3>
				<ul class="list-unstyled">
{% for article in articles %}
					<li class="bb-1 py-2"><a href="{{ article.r_link}}" target="_blank">{{ article.r_title }}</a></li>
{% endfor %}
				</ul>
			</section>
{% endif %}
			<div id="disqus_thread"></div>
		</div>

		<div id="sidebar" class="col-md-3 offset-md-1">
			<div class="block status mt-4 pt-4">
				<dl>
					<dt class="d-block">4대 비전:</dt>
					<dd class="d-block"><a href="/promises/v/{{ promise.pv_no }}">{{ promise.pv_title }}</a></dd>
					<dt class="d-block">12대 공약:</dt>
					<dd class="d-block">{{ promise.pp_title }}</dd>
					<dt class="d-block">주제:</dt>
					<dd class="d-block">{{ promise.ppk_title }}</dd>
					<dt class="d-block">메인 약속:</dt>
					<dd class="d-block">{{ promise.mp_title }}</dd>
				</dl>
			</div>
		</div>

	</div>
</div>

<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://moonmeter.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<script id="dsq-count-scr" src="//moonmeter.disqus.com/count.js" async></script>

{% endblock %}

